*{
    box-sizing: border-box;
  }
.imgCard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 2% 8%;
  gap: 1rem;
}

.title{
    width: 100%;
    padding: 3rem 0 1rem 0;
    text-align: center;
}

@media only screen and (max-width: 650px) {
  .imgCard{
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 2rem;
  }
}
