.button{
    position: fixed;
    cursor: pointer;
    font: inherit;
    background-color: #ffffff;
    color: rgb(1, 24, 22);
    padding: 0.65rem 2rem;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 25cm;
    margin-bottom: 8px;
}
.button:hover,
.button:active {
  background-color: #dcdaff;
  color:rgb(2, 24, 22);
}