.button{
    display: flex;
    cursor: pointer;
    font: inherit;
    background-color: #ffffff;
    color: rgb(1, 24, 22);
    padding: 1.5% 1%;
    border-radius: 25px;
    font-weight: bold;
}
.button:hover,
.button:active {
  background-color: #c7f1f7;
  color:rgb(2, 24, 22);
}