.button{
    display: flex;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(1, 24, 22);
    padding: 4px 10px;
    border-radius: 25px;
    border-color: white;
    font-weight: bold;
    align-self: center;
}
.button:hover,
.button:active {
  background-color:#00142f;
  color:white;
}

a{
  text-decoration: none;
}
