.nav {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px #283b42;
}
.navbar {
  display: grid;
  width: 100%;
}
.nav ul {
  color: black;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  grid-column-start: none;
}
.nav li {
  width: 5rem;
}
.nav a {
  color: rgb(15, 14, 14);
  text-decoration: none;
}
.nav a:hover,
.nav a:active,
.nav a.active {
  color: #00142f;
  padding-bottom: 0.25rem;
  font-weight: bold;
  border-bottom: 4px solid #00142f;
}
.ImgLogo {
  height: 110px;
  width: 110px;
  padding: 1rem;
}
.toggleButton {
  color: black;
  display: none;
}
.toggleButton .bar {
  height: 3px;
  width: 50px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  .toggleButton {
    display: grid;
    justify-self: end;
    align-self: center;
  }
  svg{
    width: 2rem;
    height: 2rem;
  }
  .svgBtn {
    display: flex;
    justify-self: end;
  }
  .navbar {
    display: none;

  }
  .expandNav{
    display: flex;
    justify-self: end;
  }
}
