.nav {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px #283b42;
}
.navbar {
  display: grid;
  width: 100%;
}
.nav ul {
  color: black;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  grid-column-start: none;
}
.nav li {
  width: 5rem;
}
.nav a {
  color: rgb(15, 14, 14);
  text-decoration: none;
}


.nav a:hover,
.nav a:active,
.nav a.active {
  color: #00142f;
  padding-bottom: 0.25rem;
  font-weight: bold;
  border-bottom: 2px solid #00142f;
}

.expandNavbar a:hover,
.expandNavbar a:active{
  background-color: #00142f;
  color: white;

}
.ImgLogo {
  height: 110px;
  width: 110px;
  padding: 1rem;
}
.toggleButton {
  color: black;
  display: none;
}
.toggleButton .bar {
  height: 3px;
  width: 50px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  .toggleButton {
    display: grid;
    justify-self: end;
    align-self: center;
  }

  .svgBtn {
    display: flex;
    justify-self: end;
    width: 1.75rem;
    height: 1.75rem;
  }
  .navbar {
    display: none;

  }
}

.expandNavbar{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 15px #283b42;
  padding-top: 1rem;
  z-index: 5;
  top: 8.63rem;
  right: 0rem;
  width: 200px;
  /* transform: translateY(0); */
  transition: 0.800s ease;  
}

.display{
  display: grid;
  grid-template-columns: 30% 70%;
  box-shadow: 0 2px 8px #283b42;
  width: 100%;
  padding: 0 10%;
  align-content: end;
  margin-bottom: 1rem;
  
}
.display a{
  color: rgb(15, 14, 14);
  text-decoration: none;
}

.display ul{
  color: black;
  list-style: none;
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  grid-column-start: none;
}

/* .display .ImgLogo{
  height: 80px;
  width: 80px;
  padding: .5rem;
} */
