.homeCarousel{
    margin:.25% 10%;
    height: 80%;
}
.appointment{
    display: none;
}

@media only screen and (max-width: 650px){
    .appointment{
        display: flex;
        margin: 2rem;
        justify-content: center;

    }
}
