.mbiBtn{
    padding: 3rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-image: url("/src/assets/Background/mbi1.jpg");
}

Button:hover{
    transform: scale(1.03);
}