.buttons{
    font-weight: bold;
    font-size: 1rem;
    margin: .5rem;
    border: 2px solid;
    background-color: white;
    color:  #283b42;
    border-radius: 10px;
    }

    .button:hover,
    .button:active{
        background-color: #283b42;
        color: white;
    }