@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: B-Nazanin

}

html {
  font-family: 'Noto Sans JP', sans-serif;

}

body {
  margin: 0;
  background-color:white;
  font-family: B-Nazanin
}

.MuiLink-underlineHover:hover{
  cursor: pointer !important;
  color: #c2e3f4;
  background-color:#3a3f425b;
}

@media only screen and (max-width: 750px) {
  .carousel-caption{
      display: none;
  }

}

@font-face {
  font-family: 'BNazanin';
  src: local('BNazanin'), url(./fonts/BNazanin.ttf) format('truetype');
}