@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: B-Nazanin

}

html {
  font-family: B-Nazanin
}

body {
  margin: 0;
  background-color:white;
  font-family: B-Nazanin
}

.MuiLink-underlineHover:hover{
  cursor: pointer !important;
  color: #c2e3f4;
  background-color:#3a3f425b;
}

@media only screen and (max-width: 750px) {
  .carousel-caption{
      display: none;
  }

}

@font-face {
  font-family: 'B-Nazanin';
  src: local('B-Nazanin'), url(./fonts/B-nazanin.ttf) format('truetype');
}
.navbar-nav .nav-link{
  color: #00142f !important;
}

.navbar-nav .nav-link:hover{
  background-color: #0d2b3f15 !important;
  border-radius: 15px;
}